<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container-fluid">
    <nav th:replace="fragments :: navbar"></nav>
    <a href="javascript:history.back()"><i class="material-icons classic-margin border border-primary" style="font-size: 300%">arrow_back</i></a>
    <h1 class="page-title" th:text="${pageTitle}">Ajouter un élève</h1>
    <hr/>
    <form method="post" th:object="${student}">
        <div class="form-group">
            <label th:for="firstname">Prénom</label>
            <input th:field="*{firstname}" class="form-control"/>
        </div>
        <div class="form-group">
            <label th:for="lastname">Nom</label>
            <input th:field="*{lastname}" class="form-control"/>
            <div th:errors="*{lastname}" class="alert alert-warning"></div>
        </div>
        <div class="form-group">
            <label th:for="email">@Email</label>
            <input th:field="*{email}" class="form-control" type="email">
            <div th:errors="*{email}" class="alert alert-warning"></div>
        </div>
        <div class="form-group">
            <label th:for="phone">Téléphone</label>
            <input th:field="*{phone}" class="form-control"/>
            <div th:errors="*{phone}" class="alert alert-warning"></div>
        </div>
        <div class="form-group">
            <label for="group">Groupe :</label>
            <select class="form-control" id="group" name="group">
                <option value="-1" >Aucun</option>
                <option th:each="group : ${groups}" th:text="${group.name}" th:value="${group.groupId}"></option>
            </select>
        </div>
        <div class="row classic-margin">
            <div class="col-6">
                <button class="btn btn-lg btn-block btn-success" type="submit">Valider</button>
            </div>
            <div class="col-6">
                <a class="btn btn-lg btn-block btn-danger"
                   th:if="${delete} == true"
                   th:href="@{/student/remove/{id}(id=${student.studentId})}">Supprimer</a>
            </div>
        </div>
    </form>
</body>
</html>