<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title></title>
</head>
<body class="container-fluid">
    <nav th:replace="fragments :: navbar"></nav>
    <a href="javascript:history.back()"><i class="material-icons classic-margin border border-primary" style="font-size: 300%">arrow_back</i></a>
    <h2 class="page-title" th:text="${student.firstname} + ' ' + ${student.lastname}"></h2>
    <hr/>
    <div class="row border-bottom classic-margin">
        <div class="col-2">
            <h5><i class="large material-icons">phone</i></h5>
        </div>
        <div class="col-10">
            <a th:href="'tel:' + ${student.phone}"><p th:text="${student.phone}"></p></a>
        </div>
    </div>
    <div class="row border-bottom classic-margin">
        <div class="col-2">
            <h5><i class="large material-icons">email</i></h5>
        </div>
        <div class="col-10">
            <a th:href="'mailto:' + ${student.email}"><p th:text="${student.email}"></p></a>
        </div>
    </div>
    <div class="row border-bottom classic-margin">
        <div class="col-2">
            <h5><i class="large material-icons">group</i></h5>
        </div>
        <div class="col-10">
            <a th:href="${student.group} != null ? '/group/' + ${student.group.groupId} : '#'">
                <p th:text="${student.group} != null ? '/group/' + ${student.group.name} : 'Pas de groupe'"></p></a>
        </div>
    </div>
    <div class="row border-bottom classic-margin">
        <div class="col-2">
            <h5><i class="large material-icons">notes</i></h5>
        </div>
        <div class="col-10">
            <p th:text="${student.learningNotes.length()} > 0 ? ${student.learningNotes} : 'Pas de notes'"></p>
        </div>
    </div>
    <h6 class="classic-margin">Absences / Présences</h6>
    <ul class="list-group border-bottom classic-margin">
        <li th:each="groupCourse : ${groupCourses}"
            class="list-group-item"
            th:text="'Cours du ' + ${dateUtil.formatDate(groupCourse.date)}"
            th:classappend="${groupCourse.students.indexOf(student)} > -1 ? 'list-group-item-success' : 'list-group-item-danger'"
        ></li>
    </ul>
    <a th:href="'/student/edit/' + ${student.studentId}" class="btn btn-lg btn-block btn-primary classic-margin">Editer les Informations</a>
</body>
</html>