<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">
    <nav th:replace="fragments :: navbar"></nav>
    <h1 class="col-md" th:text="${title}">Liste des élèves</h1>
    <hr/>
    <div class="row">
        <div class="col-6 content-center">
            <input placeholder="Filtrer les élèves" type="text" class="form-control" id="filter-student-input"/>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-lg btn-success" th:href="@{/student/add}">Ajouter Elève</a>
        </div>
    </div>
    <table class="table table-striped classic-margin">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Groupe</th>
                <th scope="col" style="width: 20%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}" class="student-row">
                <th scope="row" th:text="${student.lastname} + ' ' + ${student.firstname}"></th>
                <td th:text="${student.group} == null ? 'Aucun' : ${student.group.name}"></td>
                <td><i th:class="${student.learningNotes} != '' ? 'green material-icons notes-button' : 'material-icons notes-button'"
                       th:id="${student.studentId}"
                       style="font-size:2rem; cursor: pointer"
                       data-toggle="modal"
                       data-target="#exampleModal">insert_comment</i></td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notesModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="notesModalBody">
                    ...
                </div>
                <div class="form-group">
                    <textarea style="display: none;" id="notes-input" class="form-control" rows="3"></textarea>
                </div>
                <div class="text-center">
                    <button id="edit-notes-button" style="margin-bottom: 1rem;" class="btn btn-primary btn-lg w-75">Editer</button>
                    <button id="submit-notes-button" style="margin-bottom: 1rem; display: none;" class="btn btn-success btn-lg w-75">Valider</button>
                </div>
            </div>
        </div>
    </div>
<script th:src="@{/js/student.js}"></script>
</body>
</html>