<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container-fluid">
    <nav th:replace="fragments :: navbar"></nav>
    <h1 class="classic-margin">Mes Groupes</h1>
    <hr/>
    <div class="card classic-margin-bot" th:each="group : ${groups}">
        <div class="card-body">
            <div class="row classic-margin-bot">
                <div class="col-12">
                    <h5 th:id="'group-title' + ${group.groupId}" class="card-title" th:text="${group.name}"></h5>
                    <div th:id="'group-edition' + ${group.groupId}" style="display: none" class="row">
                        <div class="col-8">
                            <input class="form-control"
                                   type="text"
                                   th:id="'editedGroupName' + ${group.groupId}"
                                   th:value="${group.name}">
                        </div>
                        <i th:id="'submit-edit' + ${group.groupId}" class="col-2 large material-icons submit-edit">check</i>
                        <i th:id="'cancel-edit' + ${group.groupId}" class="col-2 large material-icons cancel-edit">cancel</i>
                    </div>
                    <p class="card-text" th:text="${group.students.size()} + ' Elève(s)'"></p>
                    <p class="card-text" th:text="${courseRepo.findByGroup(group).size()} + ' Cour(s) passé(s) pour ce groupe'"></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-6 col-lg-6 classic-margin-bot">
                    <a th:href="@{/group/{id}/students(id=${group.groupId})}" class="btn btn-lg btn-block btn-info">Liste Elèves</a>
                </div>
                <div class="col-6 col-lg-6 classic-margin-bot">
                    <a th:href="@{/group/{id}(id=${group.groupId})}" class="btn btn-lg btn-block btn-success" th:disabled="true">Détails</a>
                </div>
                <div class="col-6">
                    <button th:id="'edit-button' + ${group.groupId}" class="btn btn-primary btn-lg btn-block edit-name-button">Editer</button>
                </div>
                <div class="col-6">
                    <button data-toggle="modal" th:id="'deleteGroupButton' + ${group.groupId}" data-target="#deleteGroupModal" class="btn btn-danger btn-lg btn-block deleteGroupButton">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card classic-margin-bot">
        <div class="card-body">
            <form th:action="@{''}" method="post" th:object="${newGroup}">
                <h5 class="card-title">Ajouter un groupe</h5>
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label th:for="name">Nom</label>
                            <input th:field="*{name}" class="form-control"/>
                            <div th:errors="*{name}" class="alert alert-warning"></div>
                        </div>
                    </div>
                    <div class="col-md text-center">
                        <button type="submit" class="btn btn-lg btn-success">Ajouter Groupe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <a id="confirmGroupDelete" class="btn btn-danger btn-lg btn-block">Supprimer le groupe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script th:src="@{/js/group.js}"></script>
</html>