<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container-fluid">
    <nav th:replace="fragments :: navbar"></nav>
    <h1 class="classic-margin">Sélectionnez les élèves présents :</h1>
    <hr/>
    <form method="post">
        <div class="row">
            <div th:each="potentialStudent : ${potentialStudents}" class="col-12 col-lg-6">
                <div class="form-group form-check">
                    <input name="presentStudents"
                           th:value="${potentialStudent.studentId}"
                           type="checkbox"
                           class="form-check-input h-75 big-checkbox"
                           th:id="${potentialStudent.studentId}">
                    <label style="margin-left: 1rem;"
                           th:for="${potentialStudent.studentId}"
                           th:text="${potentialStudent.lastname} + ' ' + ${potentialStudent.firstname}"
                           class="checkbox-list"
                    ></label>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-success w-50"><h3>Valider</h3></button>
        </div>
    </form>
</body>
</html>