.classic-margin {
    margin-top: 1rem;
}
.classic-margin-bot {
    margin-bottom: 1rem;
}
.checkbox-list {
    font-size: 200%;
}
.big-checkbox {
    height: 25px;
    width: 25px;
}
.green {
    color: #17a2b8!important;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}